body {
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  height: 100vh;
  display: flex;
}

.profile {
  margin: auto;
  align-items: center;
  background-color: bisque;
  border-radius: 10px;
  border: 3px solid black;

  &__name {
    text-align: center;
    margin-left: 8px;
    opacity: 1;
    font-weight: 700;
  }

  &__birth {
    text-align: center;
    margin: 0 8px;
    opacity: 0.6;
  }
}
